https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
discord.py
akinator.py
python-dotenv
https://github.com/srevinsaju/sugaroid/archive/ed64436c5d28de22d55ad52c1c611c00cb2c55e1.tar.gz
colorama
freegames
gunicorn
psutil
wikipedia-api
chatterbot
mediawikiapi
https://github.com/gunthercox/chatterbot-corpus/archive/master.tar.gz
