https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
discord.py
akinator.py
python-dotenv
https://github.com/srevinsaju/sugaroid/archive/8247a03d1e3e8d1bc2352d7ed64ad4ef280dbcae.tar.gz
colorama
freegames
gunicorn
psutil
wikipedia-api
chatterbot
mediawikiapi
https://github.com/gunthercox/chatterbot-corpus/archive/master.tar.gz
