https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
discord.py
akinator.py
python-dotenv
https://github.com/srevinsaju/sugaroid/archive/37d8c67c0d7cf81f66aab580bfc4993f3fb9843d.tar.gz
colorama
freegames
gunicorn
psutil
wikipedia-api
chatterbot
mediawikiapi
https://github.com/gunthercox/chatterbot-corpus/archive/master.tar.gz
